@import variables
@import form-services
@import sub-header
@import blog
@import custom-twenty
@import carousel-projects
@import grid-services
@import custom-slick-theme
@import carousel-testimonials
@import bottom-header
@import top-footer
@import bottom-footer
@import single-post
@import menu-responsive
@import custom-archive

h1
    font-family: $primary-font !important

p, span
    font-family: $secondary-font !important
    
.form-master
    background-color: transparent !important
    color: white !important

body
    background: white !important

.menu-item
    .nav-link
        font-family: $secondary-font--bold !important

.diamond
  position: relative
  &::before
    content: ''
    position: absolute
    width: 50px
    height: 50px
    position: absolute
    bottom: -25px
    left: calc(50% - 25px) 
    box-sizing: border-box
    border-radius: 7px
    transform: rotate(45deg)
  &.white
    &::before
      background: white
  &.p-color
    &::before
      background: $primary-color
  &.s-color
    &::before
      background: $secondary-color
  &.dark-color
    &::before
      background: #333333

@media (max-width: 480px)
  .icon-mb-relative
    position: relative !important
    left: 0 !important
    top: 0 !important
    margin: 1em auto !important
    &.icon-counter
      margin-bottom: -85px !important
    img
      max-width: 80px